
.back{
    display: flex;
    flex-direction: row;
}

.first{
    display: flex;
    height: auto;
    justify-content: center;
    gap: 8px;
    flex-flow: row wrap;
    width: 100%;

}
.g1{
    flex: 1;
}
.btns{
    flex-direction: row;
}
.back2{
    width: calc(33.333% - 40px);
}
.lastBack{
    width:calc(50% - 40px);
}
.lastBack1{
    display: flex;
    flex-direction: row;
}
@media (width<1100px) {
    .btns{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn1{
        max-width: 500px;
        width: 100%;
    }
    
}
@media (width<400px) {
    .mobstake{
        background: url("/public/assets/images/backgroup/bearStakeResize-2.png") ;
    }
}
@media (width<699.5px){
    .lastBack{
        width:calc(100% - 20px);
    }
}

@media (width<700px){
    .back{
        flex-direction: column;
        width: 100%;
    }
    .back2{
        width: 100%;
      };
    .lastBack{
        width:100%;
    }
    .lastBack1{
        flex-direction: column;
        width: 100%;
        
    }
}